<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redes e Internet</title>
  <link rel="stylesheet" href="../../src/styles/settings-network.css">
</head>
<body>
  
<div class="window-notice" id="window-notice">
  <div class="content">
    <div class="content-text">
      <!-- <img id="logoClose" src="../../img/close_window.svg" alt=""> -->
      <div class="login-container">
        <section class="bloqFor">
          <img src="../../img/gear_ntwk.svg" alt="" id="bloqlog">
              <button class="actions" type="submit">Sincronizar</button>
              <button class="actions" type="submit">Red</button>
              <button id="poweroff" class="poweroff" type="submit">Apagar</button>
        </section>
    </div>
    </div>
  </div>
</div>
</body>
</html>