<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="../../src/styles/setting-log.css">
</head>
<body>
  
<div class="window-notice" id="window-notice">
  <div class="content">
    <div class="content-text">
      <div class="login-container">
        <section class="bloqFor">
          <img src="../../img/lock.svg" alt="" id="bloqlog">
          <form >
              <div class="form-group">
                  <input type="text" id="username" name="username" required placeholder="usuario">
              </div>
              <div class="form-group">
                  <input type="password" id="password" name="password" required placeholder="contraseña">
              </div>
              <button class="login-button" type="submit">Ingresar</button>
          </form>
        </section>
    </div>
    </div>
  </div>
</div>
     
    <script src="../scripts/services.js"></script>

    

</body>
</html>